<!DOCTYPE html>
<html>
	<head>
		{% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="https://cdn.tailwindcss.com"></script>
			<link rel="stylesheet" href="app.css" />
			<title>
				{% block title %}{% endblock %}
				- {{ app.name }}
            </title>
		{% endblock %}
	</head>
	<body class="antialiased">
        <div class="container mx-auto px-4">
            <header>{% block header %}
            {% include "@components/header/header.twig" %}
            {% endblock %}</header>
            <main>{% block main %}{% endblock %}</main>
            <footer>
                {% block footer %}
                    &copy; Copyright {{ 'now' | date('Y') }}
                {% endblock %}
            </footer>
        </div>
    </body>
</html>
